.container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  margin: 10px;
}

.headerItem {
  font-size: 20px;
  padding-top: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.orders {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.orderItem {
  padding: 20px;
  border: 1px solid darkslategray;
  margin: 5px;
  border-radius: 5px;
}

.orderInfo {
  display: flex;
}

.groupedHeader {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
}
